<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:sxi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="C:\temp\internalHotel-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target sxi:type="File" name="Exceptions" fileName="C:\Users\Robert\source\repos\HotelReview\HotelLogs\Exceptions-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase: ${level}}|${logger}|${message}${exception:format=tostring}"/>

		<target sxi:type="File" name="allFile" fileName="C:\Users\Robert\source\repos\HotelReview\HotelLogs\-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase: ${level}}|${logger}|${message}${exception:format=tostring}"/>

		<target sxi:type="File" name="request-time" fileName="C:\Users\Robert\source\repos\HotelReview\HotelLogs\request-time.log"
			layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase: ${level}}|${logger}|${message}${exception:format=tostring}"/>

	</targets>
	<rules>
		<logger name ="*" minlevel ="Trace" writeTo="allfile"/>
		<logger name ="HotelReview.*" minlevel ="Error" writeTo="Exceptions"/>
		<logger name ="HotelReview.Middleware.RequestTimeMiddleware*" minlevel ="Trace" writeTo="request-time"/>

	</rules>
</nlog>